
/* modelos */
.modelosChevrolet
{
    text-align: center;
    color: #FFD449;
    font-family: 'Bebas Neue';
    font-size: 4rem;
    text-shadow: 0 0 30px #FFC43D;
    background-color: black;
}
.modelosFord
{
    text-align: center;
    color: #1C77C3;
    font-family: 'Bebas Neue';
    font-size: 4rem;
    text-shadow: 0 0 30px #40BCD8;
    background-color: black;
}
.row
{
    justify-content: center;
}
.col-6 img
{
    border: 1px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    width: 100%
}
.col-4
{
    padding: 3px;
    margin: 5px;
    border: 1px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
.col-4 h2
{
    margin-top: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

    @media screen and (min-width: 380px) and (max-width:480px )
    { 
        /* index */
        .text-center img
        {
            width: 90%;
            margin:0 ;
            margin-top: 10px;
        }
        .text-center, .text-center h2, .main-div, .main-div-h2, .navbar-brand, .footer-img-div p, .copiright
        {
            margin: 0;
        }
        .navbar-brand
        {
            font-size: 30px;
        }
        .navbar-toggler, .copiright, .text-center h2, .main-div-h2,.body-p, .divDelTexto, #main-contacto
        {
            font-size: 16px;
        }
        .nav-item
        {
            font-size: 20px;
        }
        /* modelos*/
        .row
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .col-6, .col-4, #reciclaje .row img, #fotoConcesionaria
        {
            width: 100%;
        }
        .col-4 h2
        {
            font-size: 2.2rem;
        }
        .modelosChevrolet, .modelosFord
        {
            font-size: 50px;
        }
        /*financiamiento */
        .boton-consulta
        {
            width: 50%;
        }
        /* footer */
        .footer
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer-img
        {
            width: 70px ;
        }
        .footer-img-div
        {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .footer-img-div p
        {
            font-size: 13px;
        }
        
    }