$fuenteTitulo:'Bebas Neue', sans-serif, bold;
$fuenteDos:'Oswald', sans-serif;
$fuenteParrafos:'Roboto', sans-serif;
$sombra: 0 0 50px rgb(179, 0, 27);
$sombraBlanca: 0px 0px 10px 10px white;
$sizeL: 30px;
@mixin alturaAncho {
    height: 100%;
    width: 100%;
}
@mixin aceleraTuFuturo{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: rgb(52, 0, 104);
    color: white;
    margin: 0;
}
@mixin financiamiento{
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}
@mixin boton{
    width: 25%;
    padding: 10px 5px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    font-size: 16px;
        &:hover
        {
            background-color: #9100de;
            background-image: linear-gradient(110deg, #9100de 0%, #FC00FF 100%);
        }
}
